.dashboard {
    height: 80vh;
    background-image: url("../img/landingpage.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.p {
    color: white;
    font-size: large;
    margin: 15% 10%;

}

